@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');


body {
  font-family: 'Abril Fatface', serif;
}

h1{
  font-family: 'RubikMonoOne';
}
@font-face {
  font-family: RubikMonoOne;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Inkfree;
  src: url(../fonts/Inkfree.ttf);
}
.written{
  font-family: 'Inkfree';
}

p{
  font-family: 'Caveat', cursive;
}

.hero_circle {
  border-radius: 50%; /*1*/
  border: 3px solid transparent; /*2*/
  background: linear-gradient(-30deg,black,white) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
}

.counter_btn::-webkit-inner-spin-button,
  .counter_btn::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .Tracking_box{
    
    clip-path: polygon( 90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
  }

  


  .order-track {
    margin-top: 2rem;
    padding: 0 1rem;
    border-top: 1px dashed #2c3e50;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .order-track-step {
    display: flex;
    height: 7rem;
  }
  .order-track-step:last-child {
    overflow: hidden;
    height: 4rem;
  }
  .order-track-step:last-child .order-track-status span:last-of-type {
    display: none;
  }
  .order-track-status {
    margin-right: 1.5rem;
    position: relative;
  }
  .order-track-status-dot {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #F7BC06;
  }
  .order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 7rem;
    background: #F7BC06;
  }
  .order-track-text-stat {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .order-track-text-sub {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .order-track {
    transition: all 0.3s height 0.3s;
    transform-origin: top center;
  }


  @-webkit-keyframes float {
    0% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(25px 15px 8px #00000033);
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(25px 15px 8px #00000033);
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
  }

  .laptop{
    box-sizing: border-box;
    filter: drop-shadow(5px 15px 8px #00000099);
  transform: translatey(0px);
  -webkit-animation: float 2.5s ease-in-out infinite;
          animation: float 2.5s ease-in-out infinite;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .line {
    width: 70%;
    height: 70px;
    position: relative;
    overflow: hidden;
  }
  .container .line span {
    position: absolute;
    font-size: 3rem;
    line-height: 4.2rem;
  }

  .hero_text{
    animation: reveal 3s cubic-bezier(0.77, 0, 0.175, 1) infinite 3s;
    overflow: hidden;
  }
  .popup{
    animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    overflow: hidden;
  }
  

  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }


  .neumorphism{
    border-radius: 40px;
background: linear-gradient(145deg, #e2dec0, #ffffe4);
box-shadow:  20px 20px 40px #d5d2b5,
             -20px -20px 40px #fffff5;
  }


  .css-13cymwt-control{
    font-size: 16px;
    background-color: rgb(0 0 0 / 1) !important;
    border-radius: 50px !important;
    color: #f9fafb99 !important;
  }
  .css-nl64fw-control{
    font-size: 16px;
    background-color: rgb(0 0 0 / 1) !important;
    border-radius: 50px !important;
    color: #f9fafb99 !important;
    border-color: #F7BC06 !important;
    box-shadow: 0 0 0 1px #F7BC06 !important;
  }
  .css-1dimb5e-singleValue{
    color: #f9fafb99 !important;
  }
  .css-1xc3v61-indicatorContainer{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .css-1fdsijx-ValueContainer{
    height: fit-content !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .css-qbdosj-Input{
    margin: 0 !important;
    padding: 0 !important;
    height: fit-content !important;
  }



  .MuiPaginationItem-root{
    background: #f7bb0659 !important;
    color: white !important;
  }
  .MuiPaginationItem-root:hover{
    background: #F7BC06 !important;
  }
  .Mui-selected{
    background: #F7BC06 !important;
  }
  .MuiPaginationItem-text{
    color: white !;
  }


  .rcw-conversation-container > .rcw-header {
    background-color: #F7BC06 !important;
    color: black !important;
  }
  .rcw-launcher{
    background-color: #F7BC06 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .rcw-sender{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .rsc-float-button{
    background-color: #F7BC06 !important;
  }
  .rsc-header{
    background-color: #F7BC06 !important;
  }
  .rsc-ts-bubble{
    background-color: #F7BC06 !important;
  }




.dropdown{
  transition: max-height 0.5s ease-in-out;
    opacity: 1;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
}
.dropdownOpen{
  opacity: 1;
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
  pointer-events: all;
}


.popup_item{
  left: 0; 
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: -130px;
}
.popup_item2{
  left: 0; 
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: -130px;
}
@media screen and (min-width: 1900px){
  .popup_item{
    margin-top: -160px;
  }
  .popup_item2{
    margin-top: -160px;
  }
}
@media screen and (min-width: 2200px){
  .popup_item{
    margin-top: -190px;
  }
  .popup_item2{
    margin-top: -190px;
  }
}
.hoverme:hover > .popup_item {
  opacity: 1;
  margin-left: 50px; 
  margin-right: 50px; 
}
.hover_disable{
  opacity: 1;
  transition: all 2s ease-in-out;
}
.hoverme:hover > .hover_disable{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.hoverme2:hover > .popup_item2 {
  opacity: 1;
  margin-left: 50px; 
  margin-right: 50px; 
}
.hover_disable2{
  opacity: 1;
  transition: all 2s ease-in-out;
}
.hoverme2:hover > .hover_disable2{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
