@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body {
  font-family: 'Abril Fatface', serif;
}

@font-face {
  font-family: RubikMonoOne;
  src: url(../fonts/RubikMonoOne-Regular.ttf);
}


p{
  font-family: 'Caveat', cursive;
}

.hero_circle {
  border-radius: 50%; /*1*/
  border: 3px solid transparent; /*2*/
  background: linear-gradient(-30deg,black,white) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
}

.counter_btn::-webkit-inner-spin-button,
  .counter_btn::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .Tracking_box{
    
    clip-path: polygon( 90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
  }

  


  .order-track {
    margin-top: 2rem;
    padding: 0 1rem;
    border-top: 1px dashed #2c3e50;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .order-track-step {
    display: flex;
    height: 7rem;
  }
  .order-track-step:last-child {
    overflow: hidden;
    height: 4rem;
  }
  .order-track-step:last-child .order-track-status span:last-of-type {
    display: none;
  }
  .order-track-status {
    margin-right: 1.5rem;
    position: relative;
  }
  .order-track-status-dot {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #F7BC06;
  }
  .order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 7rem;
    background: #F7BC06;
  }
  .order-track-text-stat {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .order-track-text-sub {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .order-track {
    transition: all 0.3s height 0.3s;
    transform-origin: top center;
  }


  @-webkit-keyframes float {
    0% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(25px 15px 8px #00000033);
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(25px 15px 8px #00000033);
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(5px 15px 8px #00000099);
      transform: translatey(0px);
    }
  }

  .laptop{
    box-sizing: border-box;
    filter: drop-shadow(5px 15px 8px #00000099);
  transform: translatey(0px);
  -webkit-animation: float 2.5s ease-in-out infinite;
          animation: float 2.5s ease-in-out infinite;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .line {
    width: 70%;
    height: 70px;
    position: relative;
    overflow: hidden;
  }
  .container .line span {
    position: absolute;
    font-size: 3rem;
    line-height: 4.2rem;
  }

  .hero_text{
    animation: reveal 3s cubic-bezier(0.77, 0, 0.175, 1) infinite 3s;
    overflow: hidden;
  }
  .popup{
    animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    overflow: hidden;
  }
  

  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }